.page-title,
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.submit {
  padding: 10px 50px;
  border-radius: 50px;
}

#first_name,
#last_name,
#email {
  height: 20px;
  width: 45%;
}

.submit:hover {
  background-color: #413d3d;
  color: white;
}
